<!-- alquiler/vans.ejs -->

<ul>
        <% items.forEach((item) => { %>
          <li>
            <%= item.brand %>  
            <%= item.description.short %>
            <%= item._id %>
          </li>
        <%  }) %>
      </ul>