<section class="form">
    <div>
      <label for="booking-name">Name</label>
      <input type="text" [(ngModel)]="newContact.name">
    </div>
    <div>
      <label for="booking-startDate">Start</label>
      <input type="Date" [(ngModel)]="newContact.date1">
    </div>
    <div>
        <label for="booking-endDate">Start</label>
        <input type="Date" [(ngModel)]="newContact.date2">
      </div>
    <div>
      <label for="contact-phone">Phone</label>
      <input type="text" [(ngModel)]="newContact.phoneNumber">
    </div>
    <div>
      <label for="contact-image">Picture</label>
      <input type="text" [(ngModel)]="newContact.image">
    </div>
    
    <button (click)="addContact()">Submit New Contact</button>
  
  </section>